body {
  background-image: url(./bricks.jpg);
  background-size: 100%;
}

.App-header {
  margin: 30px 0;
}

.App-main {
  text-align: center;
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 30%;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
