.Dictionary {
  text-align: center;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #1d3348;
  margin: 20px 0;
}

.Dictionary input {
  margin-top: 10px;
  width: 40%;
  padding: 6px 4px;
  border-radius: 5px;
}

.Dictionary .hint {
  font-size: 15px;
  margin-top: 5px;
}

.Dictionary .snowButton {
  background: rgb(116, 190, 219);
  color: white;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 25px;
  transition: all 300ms ease-in-out;
  border: none;
  padding: 5px;
}
.Dictionary .snowButton:hover {
  color: rgb(116, 190, 219);
  background: white;
}
